{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main2 %}
    <div id="welcome" class="section">
        <div id="welcomeText">
            <h1 class="heading display-2" >
                Strength Tech
            </h1>
            <h3 class="subHeading display-4">
                Lift, Track, Repeat!
            </h3>
        </div>
        <div class="options">
            <ul class="optlist">
                <li><a style="text-decoration: none;" href="/sapp" ><button class="btn btn-primary btn-lg" id="about" >About Us</button></a></li>
                <li><a style="text-decoration: none;" href="/sapp" ><button class="btn btn-primary btn-lg" id="howTo" >Tutorial</button></a></li>
            </ul>
        </div>
    </div>
    <div id="about">

    </div>
    <div id="howTo" >

    </div>
{% endblock %}